.content {
  margin-left: 25rem;
  width: 100%;
}

.content_header {
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--borders-color);
}

.content_header_title h1 {
  margin-bottom: 0.4rem;
}
