@import url(base/typography.css);
@import url(base/utilities.css);
@import url(base/variables.css);

@import url(components/buttons.css);
@import url(components/cards.css);
@import url(components/content.css);
@import url(components/footer.css);
@import url(components/header.css);
@import url(components/menu.css);
@import url(components/searchBar.css);
@import url(components/sidebar.css);
@import url(components/tags.css);

/* Reset values */
* {
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

.wrapp {
  display: flex;
}
